/* montserrat-regular - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/montserrat-v10-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Montserrat Regular'), local('Montserrat-Regular'),
         url('../fonts/montserrat-v10-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/montserrat-v10-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/montserrat-v10-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/montserrat-v10-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/montserrat-v10-latin-regular.svg#Montserrat') format('svg'); /* Legacy iOS */
}

/* open-sans-regular - latin */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/open-sans-v14-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Open Sans Regular'), local('OpenSans-Regular'),
         url('../fonts/open-sans-v14-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/open-sans-v14-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/open-sans-v14-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/open-sans-v14-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/open-sans-v14-latin-regular.svg#OpenSans') format('svg'); /* Legacy iOS */
  }

html, body{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Montserrat';
    /* font-family: 'Bodoni MT Condensed'; */
    /* font-family: 'Open Sans'; */
}

h1{
    font-size: 22px;
    font-weight: 800;
    margin: 0;
    padding: 10px 0px 15px 20px;
}

p{
    font-size: 18px;
}

/* --------------------- HEADER SECTION -------------------- */
.header{
    position: fixed;
    background-color: #d5d5d5;
    display: flex;
    justify-content: center;
    height: 70px;
    width: 100%;
    color: black;
    border-bottom: 1.5px solid black;
    z-index: 10;
}

.header img{
    width: 130px;
}

.header div{
    display: flex;
    align-items: center;
}

.header div p{
    margin: 0px 10px 0px 10px;
}

.header div:first-child{
    flex: 1;
}

.header div:first-child img{
    position: absolute;
    left: 250px;
}

.header div:nth-child(3){
    display: flex;
    justify-content: flex-end;
    flex: 1;
}

.header div:nth-child(3) img{
    width: 40px;
    margin-right: 15px;
}
/* --------------------- BODY WRAPPER SECTION -------------------- */
.body-wrapper{
    display: flex;
}

/* --------------------- SIDE MENU SECTION -------------------- */
.side-menu{
    margin-top: 72px;
    position: fixed;
    width: 15em;
    /* height: calc(100% - 70px); */
    background-color: #0A2444;
    height: 100%;
    z-index: 9;
}

.side-menu .wrapper{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.side-menu .wrapper div{
    display: flex;
    width: 100%;
    border-bottom: 1.5px solid white;
    align-items: center;
    cursor: pointer;
}

.side-menu .wrapper div p{
    color: white;
}

.side-menu .wrapper div i{
    color: white;
    margin: 0px 20px 0px 10px;
}

.side-menu .wrapper .selected{
    background-color: #3282E4;
}

.side-menu .wrapper img{
    width: 40px;
    margin: 0px 20px 0px 10px;
}

#itemReports img{
    width: 33px !important;
    margin-right: 27px; /* To Cater for the different width with others img for text alignment */
}

/* --------------------- MAIN CONTAINER SECTION -------------------- */
.main-container{
    /* width: 84%; */
    width: calc(100% - 15.5em);
    margin-left: 15.5em;
    margin-top: 70px;
}

.main-container .splitter-bottom{
    border-bottom: 1.5px solid #3282E4;
}

.main-container .top-select-container{
    display: flex;
    justify-content: flex-start;
    margin-bottom: 0px;
}

.main-container .top-select-container > div{
    display: flex;
    align-items: center;
    width: 450px;
    margin: 10px 0px 10px 0px;
}

.main-container .top-select-container > div:nth-child(3){
    display: flex;
    align-items: center;
    width: 350px;
}

.main-container .top-select-container > div:nth-child(4){
    display: flex;
    align-items: center;
    width: 150px;
    flex-direction: row-reverse;
}

.main-container .top-select-container p{
    min-width: 150px;
    margin: 0px;
}

.main-container .top-select-container select{
    font-size: 18px;
    background-color: #3282E4;
    padding: 6px 10px;
    width: 250px;
    border: 1px solid black;
    color: white;
}

.main-container .top-select-container div:nth-child(3) select{
    font-size: 18px;
    background-color: #3282E4;
    padding: 6px 10px;
    min-width: 150px;
}

.main-container .top-select-container select option{
    background: white; 
    color: black; 
}

.main-container .top-select-container button{
    font-size: 18px;
    /* border: 1.5px solid grey; */
    border: 0px;
    border-radius: 10px;
    padding: 8px 25px;
    font-weight: 500;
    cursor: pointer;
    background-color: #0A2444;
    color: white;
    margin: 0px 10px 0px 0px;
}

.main-container .top-select-container button:hover{
    background-color: #36A148;
    color :white;
}

.main-container .top-select-container input{
    font-size: 16px;
    min-width: 238px;
    background-color: #3282E4;
    color: white;
    border: 1px solid black;
    padding: 6px 5px;
}

#checkboxDiv{
    max-width: 100%;
    min-width: 33%;
}

.checkbox{
	width: 120px;
	height: 40px;
	background: #333;
	margin: 0px 60px;
	border-radius: 50px;
    position: relative;
}

.checkbox input{
    opacity: 0;
}

.checkbox:before {
	content: 'On';
	position: absolute;
	top: 12px;
	left: 13px;
	height: 2px;
	color: #26ca28;
	font-size: 16px;
}

.checkbox:after {
	content: 'Off';
	position: absolute;
	top: 12px;
	left: 84px;
	height: 2px;
	color: #FFF;
	font-size: 16px;
}

.checkbox label {
	display: block;
	width: 52px;
	height: 22px;
	border-radius: 50px;

	transition: all .5s ease;
	cursor: pointer;
	position: absolute;
	top: 9px;
	z-index: 1;
	left: 12px;
	background: #ddd;
}

/**
 * Create the checkbox event for the label
 */
.checkbox input[type=checkbox]:checked + label {
	left: 60px;
	background: #26ca28;
}

.main .wrapper .left-container{
    height: 100%;
    width: 45%;
    display: flex;
    flex-direction: column;
}

.main label{
    font-size: 20px;
}

.main .wrapper{
    display: flex;
    margin: 10px 0px 0px 0px;
}

.main .wrapper .left-container .multiple-item{
    width: 95%;
    margin: 0px 0px 10px 0px;
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    color: white;
}

.main .wrapper .left-container .multiple-item:nth-child(2){
    background-color: #3282E4;
}

.main .wrapper .left-container .multiple-item:nth-child(3){
    background-color: #36A148;
}

.main .wrapper .left-container .multiple-item:nth-child(6){
    background-color: #C55A11;
}

.main .wrapper .left-container .multiple-item:nth-child(7){
    background-color: #7F6000;
}


.main .wrapper .left-container .multiple-item p:nth-child(1){
    font-size: 16px;
    margin: 10px 15px 0px 0px;
    padding: 0;
}

.main .wrapper .left-container .multiple-item p:nth-child(2){
    font-size: 80px;
    margin: 0;
    padding: 0;
}

.main .wrapper .left-container .chart-header{
    width: 95%;
    display: flex;
    margin: 10px 0px 0px 0px;
    justify-content: space-between;
}

.main .wrapper .left-container .chart-header select{
    font-size: 24px;
    background: #3282E4;
    margin : 0px 0px 0px 20px;
    padding: 0px;
}

.main .wrapper .left-container .chart-header select option{
    background: white; 
    color: black; 
}

.main .wrapper .left-container .chart-header p{
    font-size: 24px;
    margin: 10px;
}

.main .wrapper .left-container .chart-container{
    width: 95%;
}

.main .wrapper .left-container .chart-container .chart{
    height: 100%;
}

.main .right-container{
    width: 55%;
    display: flex;
    flex-direction: column;
}

.main .right-container div:first-child{
    display: flex;
    align-items: center;
}

.main .right-container div:first-child p{
    margin: 0px 15px 0px 15px;
}

.main .wrapper .right-container .single-item{
    display: flex;
    justify-content: flex-end;
    margin: 0px 0px 10px 0px;
    width: 100%;
    height: 6%;
    background-color: #3282E4;
    align-items: center;
}

.main .wrapper .right-container .single-item p{
    margin: 10px;
    vertical-align: middle;
    font-size: 36px;
    color: white;
    text-align: right;
}

.main .wrapper .right-container .map-container{
    height: 450px;
    width: 100%;
    position: relative;
    margin: 0px 0px 10px 0px;
}

.main .wrapper .right-container .map-container #map{
    height: 100%;
    width: 100%;   
}

.main .wrapper .right-container .map-container .select-container{
    position: absolute;
    right: 20px;
    top: 20px;
    z-index: 9;
}

.main .wrapper .right-container .map-container .select-container select{
    font-size: 24px;
    background: #3282E4;
    margin : 0px 0px 0px 20px;
    padding: 0px;
}

.main .wrapper .right-container .map-container .select-container select option{
    background: white; 
    color: black; 
}

.main .wrapper .right-container > .multiple-item{
    width: 100%;
    background-color: #36A148;
    color: white;
    text-align: right;
}

.main .wrapper .right-container .multiple-item > p:nth-child(1){
    font-size: 16px;
    padding: 10px 15px 0px 0px;
    margin: 0;
}

.main .wrapper .right-container .multiple-item > p:nth-child(2){
    font-size: 60px;
    margin: 10px 15px 0px 0px;
    padding: 0;
}

.main .wrapper .right-container .item-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.main .wrapper .right-container .item-container p{
    font-size: 16px;
    margin: 10px 0px 0px 0px;
}

.main .wrapper .right-container .item-container div{
    display: flex;
    flex-direction: column;
}

.main .wrapper .right-container .item-container > .multiple-item:nth-child(1){
    width: 30%;
    background-color: #3282E4;
    color: white;
    text-align: right;
    margin-right: 5px;
}

.main .wrapper .right-container .item-container > .multiple-item:nth-child(2){
    width: 30%;
    background-color: #7B7B7B;
    color: white;
    text-align: right;
    margin-right: 5px;
}

.main .wrapper .right-container .item-container > .multiple-item:nth-child(3){
    width: 38%;
    background-color: #002060;
    color: white;
    text-align: right;
    margin-right: 10px;
}

.main .wrapper .right-container .item-container .multiple-item:nth-child(3) > p{
    font-size: 16px;
    margin: 0px 10px 0px 0px;
}

.main .wrapper .right-container .item-container .multiple-item div{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.main .wrapper .right-container .item-container .multiple-item div:nth-child(2) p{
    margin: 10px 0px 0px 0px;
    font-size: 60px;
    padding: 0;
}

.main .wrapper .right-container .item-container .multiple-item div:nth-child(2) p:nth-child(2){
    color: red;
}

.main .wrapper .right-container .event-container{
    width: 100%;
    background-color: #4395F3;
    overflow: auto;
    height: 320px;
    margin: 10px 0px 10px 0px;
    
}

.main .wrapper .right-container .event-container div{
    width: 100%;
    display: flex;
}

.main .wrapper .right-container .event-container p{
    padding: 0;
    margin: 0;
}

.main .wrapper .right-container .event-container p:first-child{
    width: 130px;
}

.main .wrapper .right-container .event-container p:nth-child(2){
    width: 100px;
}

.fleet .wrapper .right-container .event-container p:nth-child(2){
    width: 150px;
}

.fleet .wrapper .right-container .event-container p:nth-child(3){
    width: 100px;
}

/* ----------------- FUEL CONS SECTION -----------------*/
.fuel-cons{
    display: flex;
    flex-direction: column;
}

.fuel-cons canvas{
    margin: 0px 0px 10px 0px;
}

.fuel-cons .engine-body{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.fuel-cons .engine-body h2{
    font-size: 20px;
    padding: 0px 0px 10px 0px;
    margin : 0;
    font-weight: 600;
}

.fuel-cons .engine-body .engine-item{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.fuel-cons .engine-body .engine-item .engine-desc{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0px 15px 0px 0px;
}

.fuel-cons .engine-body .engine-item .engine-value{
    display: flex;
    justify-content: space-between;
}

.fuel-cons .engine-body .engine-item .engine-value p:nth-child(1){
    width: 200px;
    margin: 0;
    padding: 10px 0px 10px 0px;
}

.fuel-cons .engine-body .engine-item .engine-value p:nth-child(2){
    color : green;
    margin: 0;
    padding: 10px 10px 10px 0px;
}

.fuel-cons-chart{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.fuel-cons-chart .chart-container{
    width: 75%;
    height: 100%;
    margin: 0px 0px 10px 0px;
}

.fuel-cons-chart .chart-container .chart{
    height: 400px;
}

.fuel-cons-chart .chart-values{
    width: 33%;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.fuel-cons-chart .chart-values .chart-item{
    display: flex;
    flex-direction: column;
    height: 400px;
    justify-content: flex-start;
    margin: 0px 0px 10px 0px;
}

.fuel-cons-chart .chart-values .chart-item .main-value{
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    background-color: green;
    width: 90%;
    margin: 0px 0px 30px 0px;
}

.fuel-cons-chart .chart-values .chart-item .main-value p:nth-child(1){
    color: white;
    margin: 5px 10px 0px 0px;
}

.fuel-cons-chart .chart-values .chart-item .main-value p:nth-child(2){
    color: white;
    font-size: 60px;
    margin: 5px 10px 0px 0px;
}

.fuel-cons-chart .chart-values .chart-item .normal-value{
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    background-color: #4395F3;
    width: 90%;
    margin: 0px 0px 10px 0px;
}

.fuel-cons-chart .chart-values .chart-item .normal-value p:nth-child(1){
    color : white;
    margin: 5px 10px 0px 0px;
}

.fuel-cons-chart .chart-values .chart-item .normal-value p:nth-child(2){
    color : white;
    margin: 5px 10px 0px 0px;
    font-size: 35px;
}

.hidden{
    opacity: 0;
}

.show{
    opacity: 100;
}

.display-none{
    display: none !important;
}

.display-block{
    display: block;
}

.display-flex{
    display: flex;
}

.alarm{
    color: red;
}

.no-alarm{
    color: rgb(32, 141, 50);
}

/* ----------------- ANALOG READING SECTION ---------------- */
.analog-reading{
    display: flex;
    flex-direction: column;
}

.analog-reading .analog-body{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.analog-reading .analog-body .analog-item{
    display: flex;
    justify-content: flex-start;
    margin: 0px 0px 15px 0px;
}

.analog-reading .analog-body .analog-item .analog-desc{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.analog-reading .analog-body .analog-item .analog-desc .analog-desc-item{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.analog-reading .analog-body .analog-item .analog-desc .analog-desc-item img{
    width: 45px;
    height: 45px;
}

.analog-reading .analog-body .analog-item .analog-desc .analog-desc-item p:nth-child(1),
.analog-reading .analog-body .analog-item .analog-desc .analog-desc-item p:nth-child(2){
    min-width: 170px;
}

/* ----------------- OTHER SIGNAL SECTION -----------------*/
.other-signal{
    display: flex;
    flex-direction: column;
}

.other-signal .signal-status-container{
    display: flex;
    flex-direction: column;
    height: 20%;
    overflow: auto;
    padding: 0px 10px 0px 0px;
    border-bottom: 1.5px solid #4395F3;
}

.other-signal .signal-status-container i{
    margin-right: 35px;
}

.other-signal .signal-status-container div{
    display: flex;
    align-items: center;
    margin: 0px;
    min-height: min-content;
    height: 30px;
}

.other-signal .signal-status-container div p{
    min-width: 300px;
    margin-right: 35px;
}

.other-signal .signal-status-container div p:first-child{
    font-weight: 900;
}

.other-signal .signal-status-container div p:nth-child(3){
    margin-right: 90px;
}

.other-signal .query-container{
    display: flex;
    align-items: center;
}

.other-signal .query-container p{
    width: 160px; 
}

.other-signal .query-container select{
    font-size: 22px;
    background: #3282E4;
    margin : 0px 0px 0px 20px;
    padding: 3px;
}

.other-signal .query-container select option{
    background: white; 
    color: black; 
}

.other-signal .table-container{
    width: 100%;
    height: 50vh;
    overflow: auto;
}

.other-signal .table-container table{
    width: 100%;
    border-collapse: collapse;
    border-left: 1.5px solid #3282E4;
    border-right: 1.5px solid #3282E4;
    border-bottom: 1.5px solid #3282E4;
}

.other-signal .table-container table th{
    background-color: #3282E4;
    color: white;
    font-size: 22px;
    border-right: 2.5px solid white;
    padding: 8px 0px;
}

.other-signal .table-container table th:last-child{
    border-right: 0px;
}

.other-signal .table-container table td{
    text-align: center;
    font-size: 20px;
    height: 45px;
}

.other-signal .table-container table tr:nth-child(odd){
    background-color: rgb(195, 220, 250);
}

/* ----------------- REPORT SECTION ---------------- */
.report{
    display: flex;
    flex-direction: column;
}

.report .checkbox{
    margin: 0px;
}

.report .chart{
    width: 100%;
    height: 450px;
}

.report .chart-item{
    display: flex;
    flex: 1;
    margin: 10px 0px 10px 0px; 
}

.report .chart-item .chart-summary{
    width: 50%;
}

.report .chart-item .chart-summary table{
    width: 100%;
    border-collapse: collapse;
    border-left: 1.5px solid #3282E4;
    border-right: 1.5px solid #3282E4;
    border-bottom: 1.5px solid #3282E4;
    
}

.report .chart-item .chart-summary table th{
    background-color: #3282E4;
    color: white;
    font-size: 18px;
    /* border-right: 2.5px solid white; */
    padding: 8px 0px;
}

.report .chart-item .chart-summary table th:last-child{
    border-right: 0;
}

.report .chart-item .chart-summary table td:first-child{
    text-align: left;
}

.report .chart-item .chart-summary table td{
    padding : 0px 5px;
    text-align: right;
    font-size: 18px;
    height: 35px;
}

.report .chart-item .event-container{
    margin: 0px 0px 0px 10px;
    width: 49%;
    height:200px;
    overflow: auto;
}

.report .chart-item .event-container div{
    display: flex;
}

.report .chart-item .event-container div p{
    margin: 0px 0px 5px 0px;
    padding: 0;
}

.report .chart-item .event-container div p:first-child{
    width: 180px;
}

.report .chart-item .event-container div p:nth-child(2){
    width: 120px;
}

.report .position-container{
    display: flex;
    width: 100%;
    height: 100%;
}

.report .position-container .map-container{
    width: 50%;
    height: 600px;
    margin: 0px 10px 0px 0px;
}

.report .position-container .map-container #map{
    height: 100%;
    width: 100%;
}

.report .position-container .table-container{
    height: 600px;
}

.report .position-container table{
    max-height: 90%;
    width: 100%;
    border-collapse: collapse;
    border-left: 1.5px solid #3282E4;
    border-right: 1.5px solid #3282E4;
    border-bottom: 1.5px solid #3282E4;
}

.report .position-container table th{
    background-color: #3282E4;
    color: white;
    font-size: 16px;
    /* border-right: 2.5px solid white; */
    padding: 8px 0px;
}

.report .position-container table th:last-child{
    border-right: 0;
}

.report .position-container table td:first-child{
    text-align: left;
}

.report .position-container table td{
    min-width: 60px;
    padding : 0px 5px;
    text-align: left;
    font-size: 16px;
    height: 35px;
}

.report .position-container table td:nth-child(4),
.report .position-container table td:nth-child(5),
.report .position-container table td:nth-child(6){
    text-align: right;
}

.report .position-container table td:last-child{
    text-align: center;
}

.report .position-container table img{
    cursor: pointer;
}

/* ----------------- LOGIN SECTION ---------------- */
.login{
    width: 100%;
    margin: 70px 0px 0px 0px;
}

.login .wrapper{
    display: flex;
    justify-content: center;
    width: 100%;
}

.login .wrapper .login-container{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.login .wrapper .login-container div{
    display: flex;
    align-items: center;
}

.login .wrapper .login-container div p{
    width: 300px;
}

.login .wrapper .login-container div button{
    padding: 10px;
    background-color: #4395F3;
    width: 100px;
    border: 1.5px solid black;
    border-radius: 10px;
    cursor: pointer;
}

.login .wrapper .login-container div button:hover{

    background-color: #36A148;
    color: white;
}

#imgLogout{
    cursor: pointer;
}
/* ----------------- GLOBAL SECTION ---------------- */

.map-popup{
    
    display: flex;
    flex-direction: column;
}

.map-popup p{
    font-size: 14px;
    padding: 0;
    margin: 10px 0px 5px 0px; 
}

.map-popup div{
    display: flex;
    align-items: flex-start;
}

.map-popup div p:first-child{
    width: 150px;
}

.map-popup div div{
    display: flex;
    flex-direction: column;
}

::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
	border-radius: 10px;
	background-color: rgba(245, 245, 245, 0.94);
}

::-webkit-scrollbar
{
    width: 8px;
    height: 5px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.1);
	background-color: rgba(105, 104, 104, 0.93);
}

.table-pagination{
    display: flex;
    align-items: center;
}

.table-pagination i{
    margin-right: 20px;
    cursor: pointer;
}

.table-pagination p{
    margin-right: 20px;
}

select{
    font-size: 20px;
    background-color: #3282E4;
    padding: 6px 10px;
    max-width: 300px;
}

select option{
    background: white; 
    color: black; 
}

/* ----------------- COLOR SECTION ---------------- */
.red{
    color: red;
}

.blue{
    color: #3282E4;
}

.green{
    color: green;
}
